/* Mozilla Firefox */
/* Opera */
/* Webkit (Safari/Chrome 10) */
/* Webkit (Chrome 11+) */
/* W3C Markup */
.title {
  text-align: center;
}

#footer a:link {
  color: #000;
}

#footer a:visited {
  color: #000;
}

#footer a:hover {
  color: #e05a5a;
}

body {
  background: #80DEEA;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  /*optional background or border*/
  margin-top: 2%;
  width: 600px;
  height: 420px;
  background: none;
}

.plate {
  position: absolute;
  top: 5.5%;
  left: 13%;
  width: 75%;
  height: 87%;
  background: radial-gradient(ellipse farthest-corner at center, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
  border-radius: 50%;
  animation: spinPlate 5s 2;
}

.bread {
  position: absolute;
  top: -4%;
  left: 4%;
  width: 99%;
  height: 89%;
  background: #b65e13;
  border-radius: 10%;
  -webkit-clip-path: polygon(55% 1%, 98% 48%, 79% 59%, 47% 25%);
  clip-path: polygon(55% 1%, 98% 48%, 79% 59%, 47% 25%);
}

.bread-sticks-1 {
  position: absolute;
  top: 6%;
  left: 18%;
  width: 60%;
  height: 9%;
  background: #7e2501;
  -webkit-clip-path: polygon(25% 0%, 76% 0, 48% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 76% 0, 48% 100%, 0% 100%);
}

.bread-sticks-2 {
  position: absolute;
  top: 13%;
  left: 19%;
  width: 60%;
  height: 9%;
  background: #7e2501;
  -webkit-clip-path: polygon(25% 0%, 76% 0, 48% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 76% 0, 48% 100%, 0% 100%);
}

.bread-sticks-3 {
  position: absolute;
  top: 28%;
  left: 39%;
  width: 55%;
  height: 4%;
  background: #7e2501;
  -webkit-clip-path: polygon(25% 0%, 76% 0, 48% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 76% 0, 48% 100%, 0% 100%);
}

.bread-sticks-4 {
  position: absolute;
  top: 38%;
  left: 49%;
  width: 55%;
  height: 4%;
  background: #7e2501;
  -webkit-clip-path: polygon(25% 0%, 76% 0, 48% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 76% 0, 48% 100%, 0% 100%);
}

.bread-sticks-5 {
  position: absolute;
  top: 41%;
  left: 59%;
  width: 55%;
  height: 4%;
  background: #7e2501;
  -webkit-clip-path: polygon(25% 0%, 76% 0, 48% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 76% 0, 48% 100%, 0% 100%);
}

.base {
  position: absolute;
  top: 1%;
  left: 16%;
  width: 75%;
  height: 87%;
  background: yellow;
  border-radius: 10%;
  z-index: 1;
  -webkit-clip-path: polygon(0 100%, 100% 50%, 54% 0);
  clip-path: polygon(0 100%, 100% 50%, 54% 0);
}

.bite-1 {
  position: absolute;
  top: 55%;
  left: 23%;
  width: 15%;
  height: 17%;
  background: #E5EBEE;
  border-radius: 10%;
  z-index: 1;
  -webkit-clip-path: circle(50% at 0 50%);
  clip-path: circle(50% at 0 50%);
}

.bite-2 {
  position: absolute;
  top: 48%;
  left: 28.5%;
  width: 15%;
  height: 17%;
  background: #eaeff1;
  border-radius: 10%;
  z-index: 1;
  -webkit-clip-path: circle(50% at 0 50%);
  clip-path: circle(50% at 0 50%);
}

.meltyCheece-1 {
  position: absolute;
  top: 76%;
  left: 22%;
  width: 8%;
  height: 13%;
  background: #fde249;
  border-radius: 10%;
  -webkit-clip-path: polygon(40% 100%, 24% 82%, 37% 63%, 31% 45%, 31% 29%, 47% 18%, 68% 19%, 76% 36%, 79% 54%, 66% 65%, 66% 77%, 66% 91%);
  clip-path: polygon(40% 100%, 24% 82%, 37% 63%, 31% 45%, 31% 29%, 47% 18%, 68% 19%, 76% 36%, 79% 54%, 66% 65%, 66% 77%, 66% 91%);
}

.meltyCheece-2 {
  position: absolute;
  top: 72%;
  left: 26%;
  width: 8%;
  height: 13%;
  background: #fde249;
  border-radius: 10%;
  -webkit-clip-path: polygon(40% 100%, 24% 82%, 37% 63%, 31% 45%, 31% 29%, 47% 18%, 68% 19%, 76% 36%, 79% 54%, 66% 65%, 66% 77%, 66% 91%);
  clip-path: polygon(40% 100%, 24% 82%, 37% 63%, 31% 45%, 31% 29%, 47% 18%, 68% 19%, 76% 36%, 79% 54%, 66% 65%, 66% 77%, 66% 91%);
}

.meltyCheece-3 {
  position: absolute;
  top: 65%;
  left: 34%;
  width: 8%;
  height: 13%;
  background: #fde249;
  border-radius: 10%;
  -webkit-clip-path: polygon(40% 100%, 24% 82%, 37% 63%, 31% 45%, 31% 29%, 47% 18%, 68% 19%, 76% 36%, 79% 54%, 66% 65%, 66% 77%, 66% 91%);
  clip-path: polygon(40% 100%, 24% 82%, 37% 63%, 31% 45%, 31% 29%, 47% 18%, 68% 19%, 76% 36%, 79% 54%, 66% 65%, 66% 77%, 66% 91%);
}

.meltyCheece-4 {
  position: absolute;
  top: 65%;
  left: 39%;
  width: 8%;
  height: 13%;
  background: #fde249;
  border-radius: 10%;
  -webkit-clip-path: polygon(40% 100%, 24% 82%, 37% 63%, 31% 45%, 31% 29%, 47% 18%, 68% 19%, 76% 36%, 79% 54%, 66% 65%, 66% 77%, 66% 91%);
  clip-path: polygon(40% 100%, 24% 82%, 37% 63%, 31% 45%, 31% 29%, 47% 18%, 68% 19%, 76% 36%, 79% 54%, 66% 65%, 66% 77%, 66% 91%);
}

.meltyCheece-5 {
  position: absolute;
  top: 60%;
  left: 42%;
  width: 8%;
  height: 18%;
  background: #fde249;
  border-radius: 10%;
  -webkit-clip-path: polygon(40% 100%, 24% 82%, 37% 63%, 31% 45%, 31% 29%, 47% 18%, 68% 19%, 76% 36%, 79% 54%, 66% 65%, 66% 77%, 66% 91%);
  clip-path: polygon(40% 100%, 24% 82%, 37% 63%, 31% 45%, 31% 29%, 47% 18%, 68% 19%, 76% 36%, 79% 54%, 66% 65%, 66% 77%, 66% 91%);
}

.greens-1 {
  position: absolute;
  top: 20%;
  left: 49%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
  z-index: 1;
}

.greens-2 {
  position: absolute;
  top: 28%;
  left: 63%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
  z-index: 1;
}

.greens-3 {
  position: absolute;
  top: 40%;
  left: 43%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
  z-index: 1;
}

.greens-4 {
  position: absolute;
  top: 55%;
  left: 49%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
  z-index: 1;
}

.greens-5 {
  position: absolute;
  top: 75%;
  left: 23%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
  z-index: 1;
}

.greens-6 {
  position: absolute;
  top: 64%;
  left: 32%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
  z-index: 1;
}

.greens-7 {
  position: absolute;
  top: 44%;
  left: 52%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
  z-index: 1;
}

/* no need of z-index here */
.greens-out-1 {
  position: absolute;
  top: 24%;
  left: 32%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
}

.greens-out-2 {
  position: absolute;
  top: 28%;
  left: 33%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
}

.greens-out-3 {
  position: absolute;
  top: 20%;
  left: 34%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
}

.greens-out-4 {
  position: absolute;
  top: 19%;
  left: 26%;
  width: 4%;
  height: 6%;
  background: #07ac49;
  border-radius: 10%;
}

/* the oils have border for effect */
/* I need the z-index bcs the base has also */
.oil-1 {
  position: absolute;
  top: 19%;
  left: 28%;
  width: 4%;
  height: 6%;
  background: #000;
  border: solid 5px #4d3d26;
  border-radius: 50%;
}

.oil-2 {
  position: absolute;
  top: 29%;
  left: 48%;
  width: 4%;
  height: 6%;
  background: #000;
  border: solid 5px #4d3d26;
  border-radius: 50%;
  z-index: 1;
}

.oil-3 {
  position: absolute;
  top: 34%;
  left: 78%;
  width: 4%;
  height: 6%;
  background: #000;
  border: solid 5px #4d3d26;
  border-radius: 50%;
  z-index: 1;
}

.oil-4 {
  position: absolute;
  top: 67%;
  left: 28%;
  width: 4%;
  height: 6%;
  background: #000;
  border: solid 5px #4d3d26;
  border-radius: 50%;
  z-index: 1;
}

.tomato-1 {
  position: absolute;
  top: 57%;
  left: 18%;
  width: 34%;
  height: 36%;
  background: #e4313b;
  border: solid 8px #951725;
  border-radius: 50%;
  z-index: 1;
}

.tomato-2 {
  position: absolute;
  top: 45%;
  left: 68%;
  width: 24%;
  height: 26%;
  background: #e4313b;
  border: solid 8px #951725;
  border-radius: 50%;
  z-index: 1;
}

.tomato-3 {
  position: absolute;
  top: -2%;
  left: 28%;
  width: 24%;
  height: 26%;
  background: #e4313b;
  border: solid 8px #951725;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-1 {
  position: absolute;
  top: 12%;
  left: 6%;
  width: 14%;
  height: 16%;
  background: #e05a5a;
  border: solid 2px #951725;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-2 {
  position: absolute;
  top: 35%;
  left: 55%;
  width: 14%;
  height: 16%;
  background: #e05a5a;
  border: solid 2px #951725;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-3 {
  position: absolute;
  top: 55%;
  left: 34.5%;
  width: 14%;
  height: 16%;
  background: #e05a5a;
  border: solid 2px #951725;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-4 {
  position: absolute;
  top: 41%;
  left: 13.5%;
  width: 17%;
  height: 19%;
  background: #e05a5a;
  border: solid 2px #951725;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-5 {
  position: absolute;
  top: 91%;
  left: 3%;
  width: 17%;
  height: 19%;
  background: #e05a5a;
  border: solid 2px #951725;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-bullet-1 {
  position: absolute;
  top: 45%;
  left: 20%;
  width: 8%;
  height: 9%;
  background: #FFF3E0;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-bullet-2 {
  position: absolute;
  top: 45%;
  right: 20%;
  width: 8%;
  height: 9%;
  background: #FFF3E0;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-bullet-3 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 8%;
  height: 9%;
  background: #FFF3E0;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-bullet-4 {
  position: absolute;
  bottom: 25%;
  left: 45%;
  width: 8%;
  height: 9%;
  background: #FFF3E0;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-bullet-5 {
  position: absolute;
  top: 25%;
  right: 25%;
  width: 8%;
  height: 9%;
  background: #FFF3E0;
  border-radius: 50%;
  z-index: 1;
}

.pepperoni-bullet-6 {
  position: absolute;
  bottom: 25%;
  left: 25%;
  width: 8%;
  height: 9%;
  background: #FFF3E0;
  border-radius: 50%;
  z-index: 1;
}

@keyframes spinPlate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}